# Java #
*.class

# Package Files #
emt.jar
*.war
*.ear

# Eclipse #
#*.settings/*

# Binaries/Compiles #
EMT.exe
*bin/*
*.zip
*.rar

# Unwanted dirs and files #
*/cache
*/workdoc
*/types
*/emt_lib
*user.properties
*db.thumbs